<!doctype html>
<html>
<body>

	<div class = "row">		
		<div class = "container">
				<div class = "navbar">
						<ul class="nav nav-pills" id ="button-list">
							<p class = "choose-message">Choose website type:</p>
							<li class ="selected-all" id="all-button">All</li>
						<% @categories.each do |category| %>
							<%= content_tag(:li, category.name, id: category.id, :data => {:group => category.name}) %>  
						<% end %>
						</ul>
				</div>	
		</div>
	</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
      </div>
      <div class="modal-body">This is a website designed to showcase the projects I created during my Codecademy Labs: Offline course in 2015.  Most of the sites included here were part of the Codecademy curriculum, but some were side projects and tutorials that I pursued on my own while enrolled in the class. <br><br> Many of the sites, in particular those which only include HTML and CSS, do not have working links and are designed to showcase front-end development.  

     	The code for these projects is available on <a href= "https://github.com/jessefurmanek">Github</a> -- feel free to give me a <a href = "mailto:jesse.furmanek@gmail.com">shout</a> if you have any questions!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn close-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

	<div class="supporting">
		<div class = "container">
				<div class = "row text-center" id = "grid">
		<% @websites.in_groups_of(3, false).each do |group| %>

				<% group.each do |website| %>
					<% website_category_array = []
						website.categories.to_ary().each do |category_obj|
							website_category_array.append(category_obj.name)
						end
					 %>
					<%= content_tag(:div, class: "col-md-4 website", :data => {:groups => website_category_array}) do %>
						<%= link_to image_tag(website.screenshot, class: "img-responsive"), website.url, target: "_blank" %>
						<h3><%= website.title %></h3>
					<% end %>	
			<% end %>		
		<% end %>
		</div>
		</div>
		
	</div>


</body>
</html>