<!doctype html>
<html>
<body>
	<div class = "container">
		<div class = "row">
			<div class = "title">
			
			</div>

				<div class = "navbar">
						<ul class="nav nav-pills pull-right" id ="button-list">
							<p class = "choose-message">Choose website type:</p>
							<li class ="selected-all" id="all-button">All</li>
						<% @categories.each do |category| %>
							<%= content_tag(:li, category.name, id: category.id, :data => {:group => category.name}) %>  
						<% end %>
						</ul>
				</div>	
		</div>
	</div>


	<div class="supporting">
		<div class = "container">
				<div class = "row text-center" id = "grid">
		<% @websites.in_groups_of(3, false).each do |group| %>

				<% group.each do |website| %>
					<% website_category_array = []
						website.categories.to_ary().each do |category_obj|
							website_category_array.append(category_obj.name)
						end
					 %>
					<%= content_tag(:div, class: "col-md-4 website", :data => {:groups => website_category_array}) do %>
						<%= link_to image_tag(website.screenshot, class: "img-responsive"), website.url, target: "_blank" %>
						<h3><%= website.title %></h3>
					<% end %>	
			<% end %>		
		<% end %>
		</div>
		</div>
		
	</div>


</body>
</html>