<!doctype html>
<html>
	<body>
		<div class = "header">
			<div class = "row">
				<div class = "container">
					<div class = "menu col-xs-8">
						<ul class= "list-inline pull-left">
							<li>Welcome</li>
							<li>Portfolio</li>	
							<li>Blog</li>						
							<li>About</li>						
							<li>Contact</li>											
						</ul>
					</div>
					<div class = "menu col-xs-4">
						<div class = "name pull-right">
							<p>Jesse Furmanek</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class = "main">
		<div class = "row">
			<div class = "jumbotron">
				<div class = "container">
					<h2>Hello. My name is Jesse Furmanek and I build websites.</h2>
					<a class = "btn pull-right" href=#>View my Work</a>
				</div>
			</div>
		</div>	


	<div class = "footer">
		<div class = "row">	
			<div class = "container">
				<div class = "menu col-xs-8"></div>
				<div class = "menu col-xs-4"></div>
					<div class= "social list-inline">
							<li><%= image_tag("github.png", :alt => "github") %></li>	
							<li><%= image_tag("linkedin.png", :alt => "linkedin") %></li>	
							<li><%= image_tag("twitter.png", :alt => "twitter") %></li>	
					</div>
				</div>	
			</div>	
		</div>
	</div>

	</body>
</html>