body{
	font-family: 'Futura', 'Open Sans', sans-serif;
}

.header ul{
	list-style-type:none;
	font-size: 1.5em;
}

.name{
	font-size: 1.5em;
}
.menu{
	padding-top:3vh;
}


.nav li{
	margin-right:10px;
}






